[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
rich = "*"
veracode-api-py = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
bulk_mitigator = "python3 bulk_mitigator.py"