[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
rich = "*"
veracode-api-py = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.12"

[scripts]
bulk_mitigator = "python bulk_mitigator.py"
